<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application Details</title>
</head>
<body>
    <h1>Application Details</h1>
    <div>
		<p>Name: <span th:text="${applicationOpt.isPresent() ? applicationOpt.get().staff.name : ''}"></span></p>
		<p>Leave Type: <span th:text="${applicationOpt.isPresent() ? applicationOpt.get().applicationType.type : ''}"></span></p>
		<p>Start Date:  <span th:text="${applicationOpt.isPresent() ? #temporals.format(applicationOpt.get().startTime, 'yyyy-MM-dd') : ''}"></span></p>
		<p>End Date: <span th:text="${applicationOpt.isPresent() ? #temporals.format(applicationOpt.get().endTime, 'yyyy-MM-dd')  : ''}"></span></p>
		<p>Reason: <span th:text="${applicationOpt.isPresent() ? applicationOpt.get().description : ''}"></span></p>
		<p>Status:<span th:text="${applicationOpt.isPresent() ? applicationOpt.get().status : ''}"></span></p>

    </div>
    <p><a th:href="@{/manager/applications/{userId}(userId=${userId})}">Back to Applications</a></p>
	<a th:href="@{/home/{userId}(userId=${userId})}">Back to Home</a>
</body>

</html>

