<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compensation</title>
    <link rel="stylesheet" href="/CSS/create-application.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/JavaScript/compensation-script.js"></script>
</head>
<body>
<h1>Application Form</h1>
<div class="container">
    <h2 th:text="${applicationId == null ? 'Create Application' : 'Edit Application'}"></h2>
    <form id="applicationForm" th:object="${applicationForm}" method="post">
        <div>
            <input type="hidden" id="applicationId" th:value="${applicationForm.applicationId}"/>
            <input type="hidden" id="userId" name="userId" th:value="${applicationForm.userId}"/>
        </div>
        <div>
            <label for="applicationType">Application Type:</label>
            <input type="text" id="applicationType" name="applicationType" th:value="${applicationForm.applicationType}" readonly>
        </div>
        <div id="annualLeaveDays"></div>
        <div>
            <label for="startTime">Start Date:</label>
            <input type="text" id="startTime" name="startTime" th:value="${applicationForm.startTime}"/>
            <div th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="error"></div>
        </div>
        <div>
            <label for="endTime">End Date:</label>
            <input type="text" id="endTime" name="endTime" th:value="${applicationForm.endTime}"/>
            <div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="error"></div>
        </div>
        <div id="select"></div>
        <div>
            <label for="reason">Reason:</label>
            <textarea id="reason" name="reason"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
            <button type="button" id="backButton" onclick="window.location.href = '/staffDashboard/'">Back</button>
        </div>
    </form>
    <div class="error-messages" th:if="${globalErrors != null}">
        <ul>
            <li th:each="error : ${globalErrors}" th:text="${error.defaultMessage}"></li>
        </ul>
    </div>
</div>
</body>
</html>