<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/staff/display-application.css">
    <script src="/JavaScript/display-application-script.js"></script>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Display Application</title>
</head>
<body>
<div class="container">
    <h2>Application Details</h2>
    <div class="application-details">
        <div class="detail">
            <label class="label">Application ID:</label>
            <span id = "applicationId" th:text="${displayApplication.id}"></span>
        </div>
        <div class="detail">
            <label class="label">Application Staff:</label>
            <span th:text="${displayApplication.staff.getName()}"></span>
        </div>
        <div class="detail">
            <label class="label">Application Type:</label>
            <span th:text="${displayApplication.applicationType.getType()}"></span>
        </div>
        <div class="detail">
            <label class="label">Start DateTime:</label>
            <span th:text="${#temporals.format(displayApplication.startTime, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <div class="detail">
            <label class="label">End DateTime:</label>
            <span th:text="${#temporals.format(displayApplication.endTime, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <div class="detail">
            <label class="label">Status:</label>
            <span id="status" th:text="${displayApplication.status}"></span>
        </div>
        <div class="detail">
            <label class="label">Reason:</label>
            <span th:text="${displayApplication.description}"></span>
        </div>
        <button type="button" id="backButton" onclick="window.location.href='/staffDashboard/'">Back</button>
        <button type="button" id="editButton">Edit</button>
        <button type="button" id="cancelButton">Cancel</button>
    </div>
</div>
</body>
</html>