<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/CSS/admin/admin.css">
</head>
<body>
<div class="header">
  <h1>Admin Dashboard</h1>
</div>
<div class="content">
  <h2>List:</h2>
  <ul>
    <li><a href="/admin/department/edit">Search Staff</a></li>
    <li><a href="/admin/Asearch">Search Admin</a></li>
    <li><a href="/admin/create">Create Staff</a></li>
    <li><a href="/admin/Acreate">Create Admin</a></li>
    <li><a href="/admin/appSearch">Search Application</a></li>
    <li><a href="/admin/department">View Department</a></li>
    <li><a href="/admin/PublicHoliday">Maintain the Holiday</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
</html>
