<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Staff/Manager</title>
</head>
<body>
  <h1>Create Staff/Manager</h1>
  
  <div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
  </div>

  <form action="/admin/create" method="post" th:object="${staff}">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" th:field="*{userId}"><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}"><br><br>

    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}"><br><br>
    
    <label for="hierarchy">Hierarchy:</label>
    <select id="hierarchy" th:field="*{hierarchy}">
        <option th:each="hierarchy : ${hierarchy}" th:value="${hierarchy}" th:text="${hierarchy}">hierarchy</option>
    </select><br><br>

    <label for="department">Department:</label>
    <select id="department" th:field="*{department}">
        <option th:each="department : ${department}" th:value="${department.id}" th:text="${department.name}">department</option>
    </select><br><br>

    <input type="submit" value="Submit">
  </form>
  <a href="/admin">
    <button>Back to the dashboard</button>
  </a>
</body>
</html>
