body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.welcome-info {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-info h1 {
    margin: 0;
}

nav {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    margin: 0 10px;
}

nav ul li select,
nav ul li a {
    display: block;
    padding: 12px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

nav ul li select:hover,
nav ul li a:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

nav ul li select {
    width: 250px;
}

