body {
    font-family: Arial, sans-serif;
    background: url('/picture/campus-01.jpg') no-repeat center center fixed; /* 设置背景图片 */
    background-size: cover; /* 使背景图片覆盖整个页面 */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #ffffff; /* 设置默认文本颜色为白色，以便在深色背景上显示清楚 */
}

.header {
    width: 100%; /* 设置宽度为 100% */
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    position: absolute; /* 绝对定位 */
    top: 0; /* 置于页面顶部 */
    left: 0; /* 置于页面左侧 */
}

.header .logo {
    height: 50px;
    margin-right: 20px;
}

.header h1 {
    font-size: 24px;
    color: #ffffff; /* 设置标题文本颜色为白色 */
}

.login-container {
    background-color: #ffffff; /* 设置为不透明的白色背景 */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* 左对齐 */
    color: #0d47a1; /* 设置登录容器内的文本颜色为深蓝色 */
    width: 250px; /* 设置宽度 */
    position: absolute; /* 绝对定位 */
    top: 50%; /* 垂直居中 */
    right: 10%; /* 距右侧 10% */
    transform: translateY(-50%); /* 垂直居中对齐 */
}

h2 {
    text-align: center; /* 标题居中显示 */
    margin-top: 0;
    color: #0d47a1; /* 设置标题文本颜色为深蓝色 */
}

.input-group {
    margin-top: 20px;
    position: relative;
}

label {
    display: block;
    color: #0d47a1; /* 设置标签文本颜色为深蓝色 */
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    margin-top: 20px; /* 增加按钮容器与输入框之间的距离 */
    text-align: center; /* 按钮居中 */
}

button {
    background-color: #0d47a1; /* 设置按钮背景颜色为深蓝色 */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1565c0; /* 设置按钮悬停背景颜色为较浅的蓝色 */
}

.error-container {
    margin-top: 20px;
}

.error-message {
    color: #d32f2f; /* 设置错误信息文本颜色为红色 */
    font-weight: bold;
}

.shake {
    animation: shake 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}