<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Admin Dashboard</h1>

    <h2>list：</h2>
    <ul>
      <li><a href="/admin/department/edit">search Staff</a></li>
      <li><a href="/admin/Asearch">search admin</a></li>
      <li><a href="/admin/create">create staff</a></li>
      <li><a href="/admin/Acreate">create admin</a></li>
      <li><a href="/admin/appSearch">search Application</a></li>
      <li><a href="/admin/department">view department</a></li>
	  <li><a href="/admin/PublicHoliday">maintain the holiday</a></li>
    </ul>
  </body>
  </html>
