<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application History</title>
    <link rel="stylesheet" href="/application-history.css">
</head>
<body>
<header>
    <h1>Personal Application History</h1>
    <nav>
        <ul>
            <li><a href="/staffDashboard">Main</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Application ID</th>
            <th>Application Type</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Application Status</th>
            <th>Reason</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${applications}">
            <td><a th:href="@{/staffDashboard/displayApplication(applicationId=${app.id})}" th:text="${app.id}"></a></td>
            <td th:text="${app.applicationType.type}"></td>
            <td th:text="${app.startTime}"></td>
            <td th:text="${app.endTime}"></td>
            <td th:text="${app.status}"></td>
            <td th:text="${app.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>