<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Staff/Manager</title>
</head>
<body>
  <h1>Create Staff/Manager</h1>

  <form action="/admin/create" method="post" th:object="${staff}">
      <label for="userId">User ID:</label>
      <input type="text" id="userId" th:field="*{userId}"/>
      <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span><br/><br/>

      <label for="password">Password:</label>
      <input type="password" id="password" th:field="*{password}"/>
      <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br/><br/>

      <label for="name">Name:</label>
      <input type="text" id="name" th:field="*{name}"/>
	  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/><br/>

      <label for="email">Email:</label>
      <input type="email" id="email" th:field="*{email}"/>
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/><br/>

      <div>
          <label for="hierarchy">Hierarchy:</label>
          <select id="hierarchy" name="hierarchy">
              <option th:each="hierarchy : ${hierarchy}" th:value="${hierarchy}" th:text="${hierarchy}">hierarchy</option>
          </select>
      </div>

      <div>
          <label for="department">Department:</label>
          <select id="department" name="department">
              <option th:each="department : ${department}" th:value="${department.name}" th:text="${department.name}">department</option>
          </select>
      </div>

      <input type="submit" value="Submit"/>
  </form>
  <a href="/admin">
    <button>Back to the dashboard</button>
  </a>
</body>
</html>
