<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager Home</title>
</head>
<body>
<h1>Welcome, <span th:text="${user.name}">Manager</span></h1>
<p>This is the manager home page.</p>
<p><a th:href="@{/manager/applications/{userId}(userId=${user.userId})}">View Leave Applications</a></p>
<p><a th:href="@{/manager/subordinates/{userId}/history(userId=${user.userId})}">View Subordinates' History</a></p>
<p><a th:href="@{/staffDashboard}">Apply an application</a></p>
<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>
